[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/code-sooraj
[access "refs/for/refs/*"]
	read = group user/code-sooraj
	push = group user/code-sooraj
	label-Code-Review = -2..+2 group user/code-sooraj
	label-Verified = -1..+1 group user/code-sooraj
	rebase = group user/code-sooraj
	removeReviewer = group user/code-sooraj
	submit = group user/code-sooraj
[access "refs/heads/*"]
	read = group user/code-sooraj
	create = group user/code-sooraj
	push = +force group user/code-sooraj
	pushMerge = group user/code-sooraj
[access "refs/tags/*"]
	push = +force group user/code-sooraj
	pushTag = group user/code-sooraj
	pushSignedTag = group user/code-sooraj
